<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>
    
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<!--BEGIN TITLEAREA-->
<div id="titlearea">
<table cellspacing="0" cellpadding="0" width="100%">
 <tbody>
 <tr style="height: 56px;">
 
  <td id="projectlogo"><?js= env.conf.project.logo ?><!--PROJECT_LOGO--></td>
  <td style="padding-left: 0.5em;">
   <div id="projectname"><?js= env.conf.project.name ?><!--PROJECT_NAME-->&#160;<span id="projectnumber"><?js= env.conf.project.number ?><!--PROJECT_NUMBER--></span></div>
   <div id="projectbrief"><?js= env.conf.project.brief ?><!--PROJECT_BRIEF--></div>
  </td>
  <td style="padding-left: 0.5em;"></td>
  <td class="logo_title" title="Created by Digger &copy; SAD-Systems"><div class="logo_img"/></td>
  
 </tr>
 </tbody>
</table>
</div>
<!--END TITLEAREA-->

<div id="main">
    
    <h1 class="page-title"><?js= title ?></h1>
    
    <?js= content ?>
</div>

<nav>
    <?js= this.nav ?>
</nav>


<br clear="both">

<footer>
   <div class="logo_copy">&copy; 2001-2015, <a href="http://sad-systems.ru">SAD-Systems</a>. Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a></div>    
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>